@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #19191F;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #19191F;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Aclonica";
  src: url("/fonts/Aclonica-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
}
